<!DOCTYPE html>
<html>
<head>
  <title>Wordpress</title>
  <%= stylesheet_link_tag    "wordpress/application", media: "all" %>
  <%= javascript_include_tag "wordpress/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
