<!DOCTYPE html>
<html>
<head>
  <title>WordPress</title>
  <%= stylesheet_link_tag    "word_press/application", media: "all" %>
  <%= javascript_include_tag "word_press/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
